
<button ng-click="vm.displayTimeOfDay()">Display Time of Day</button>
<p>Time of Day {{vm.timeOfDay}}</p>
<button ng-click="vm.triggerMotion()">Trigger Motion</button>
<button ng-click="vm.toggleLights()">Toggle Lights</button>
<p>Lights {{vm.lightsState}}</p>

<h2>Backyard</h2>
<i class="fa fa-lightbulb-o" ng-class="{on: vm.backyardLightState === 'on'}" aria-hidden="true"></i>


<h2>Front Yard</h2>
<i class="fa fa-lightbulb-o" ng-class="{on: vm.frontyardLightState === 'on'}" aria-hidden="true"></i>